Repository bwolfson978/low-income-year-tax-optimizer-8n1e1h, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @tax-experts, @security-team, @devops-team, @database-team, @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/cdn/main.tf
  infrastructure/terraform/modules/cdn/main.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/cdn/outputs.tf
  infrastructure/terraform/modules/cdn/outputs.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/cdn/variables.tf
  infrastructure/terraform/modules/cdn/variables.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/README.md
  src/backend/README.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tsconfig.build.json
  src/backend/tsconfig.build.json
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/prisma/schema.prisma
  src/backend/prisma/schema.prisma
Owners: @database-team, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/prisma/seed.ts
  src/backend/prisma/seed.ts
Owners: @database-team, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/prisma/migrations/0000_initial_setup.sql
  src/backend/prisma/migrations/0000_initial_setup.sql
Owners: @database-team, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/config/cache.ts
  src/backend/src/config/cache.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/config/constants.ts
  src/backend/src/config/constants.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/config/email.ts
  src/backend/src/config/email.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/config/openai.ts
  src/backend/src/config/openai.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/config/supabase.ts
  src/backend/src/config/supabase.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/controllers/auth.controller.ts
  src/backend/src/controllers/auth.controller.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/controllers/calculation.controller.ts
  src/backend/src/controllers/calculation.controller.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/controllers/chat.controller.ts
  src/backend/src/controllers/chat.controller.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/controllers/explanation.controller.ts
  src/backend/src/controllers/explanation.controller.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/controllers/export.controller.ts
  src/backend/src/controllers/export.controller.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/controllers/scenario.controller.ts
  src/backend/src/controllers/scenario.controller.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/middleware/auth.middleware.ts
  src/backend/src/middleware/auth.middleware.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/middleware/error.middleware.ts
  src/backend/src/middleware/error.middleware.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/middleware/logging.middleware.ts
  src/backend/src/middleware/logging.middleware.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/middleware/rate-limit.middleware.ts
  src/backend/src/middleware/rate-limit.middleware.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/middleware/validation.middleware.ts
  src/backend/src/middleware/validation.middleware.ts
Owners: @backend-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend service ownership
/src/backend/**                      @backend-team

# Web application ownership
/src/web/**                          @frontend-team

# Tax calculation logic requires tax expert review
/src/backend/src/utils/tax-calculator/**    @tax-experts @backend-team

# Security utilities require security team review
/src/backend/src/utils/security/**          @security-team @backend-team

# Infrastructure configuration ownership
/infrastructure/**                   @devops-team

# CI/CD workflow ownership
/.github/workflows/**                @devops-team

# Database schema changes require database team review
/src/backend/prisma/**              @database-team @backend-team

# Documentation ownership
*.md                                @docs-team
