Repository bwolfson978/low-income-year-tax-optimizer-8n1e1h, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @tax-experts, @security-team, @devops-team, @database-team, @docs-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend service ownership
/src/backend/**                      @backend-team

# Web application ownership
/src/web/**                          @frontend-team

# Tax calculation logic requires tax expert review
/src/backend/src/utils/tax-calculator/**    @tax-experts @backend-team

# Security utilities require security team review
/src/backend/src/utils/security/**          @security-team @backend-team

# Infrastructure configuration ownership
/infrastructure/**                   @devops-team

# CI/CD workflow ownership
/.github/workflows/**                @devops-team

# Database schema changes require database team review
/src/backend/prisma/**              @database-team @backend-team

# Documentation ownership
*.md                                @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/models/calculation.model.ts
  src/backend/src/models/calculation.model.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/models/chat.model.ts
  src/backend/src/models/chat.model.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/models/explanation.model.ts
  src/backend/src/models/explanation.model.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/models/scenario.model.ts
  src/backend/src/models/scenario.model.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/models/user.model.ts
  src/backend/src/models/user.model.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/routes/auth.routes.ts
  src/backend/src/routes/auth.routes.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/routes/calculation.routes.ts
  src/backend/src/routes/calculation.routes.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/routes/chat.routes.ts
  src/backend/src/routes/chat.routes.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/routes/explanation.routes.ts
  src/backend/src/routes/explanation.routes.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/routes/export.routes.ts
  src/backend/src/routes/export.routes.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/routes/scenario.routes.ts
  src/backend/src/routes/scenario.routes.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/auth.service.ts
  src/backend/src/services/auth.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/cache.service.ts
  src/backend/src/services/cache.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/calculation.service.ts
  src/backend/src/services/calculation.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/chat.service.ts
  src/backend/src/services/chat.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/email.service.ts
  src/backend/src/services/email.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/explanation.service.ts
  src/backend/src/services/explanation.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/export.service.ts
  src/backend/src/services/export.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/openai.service.ts
  src/backend/src/services/openai.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/services/scenario.service.ts
  src/backend/src/services/scenario.service.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/types/api.types.ts
  src/backend/src/types/api.types.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/types/calculation.types.ts
  src/backend/src/types/calculation.types.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/types/chat.types.ts
  src/backend/src/types/chat.types.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/types/scenario.types.ts
  src/backend/src/types/scenario.types.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/types/tax.types.ts
  src/backend/src/types/tax.types.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/types/user.types.ts
  src/backend/src/types/user.types.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/formatters/currency.ts
  src/backend/src/utils/formatters/currency.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/formatters/date.ts
  src/backend/src/utils/formatters/date.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/formatters/percentage.ts
  src/backend/src/utils/formatters/percentage.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/security/encryption.ts
  src/backend/src/utils/security/encryption.ts
Owners: @security-team, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/security/jwt.ts
  src/backend/src/utils/security/jwt.ts
Owners: @security-team, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/security/rate-limiter.ts
  src/backend/src/utils/security/rate-limiter.ts
Owners: @security-team, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/tax-calculator/capital-gains.ts
  src/backend/src/utils/tax-calculator/capital-gains.ts
Owners: @tax-experts, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/tax-calculator/federal.ts
  src/backend/src/utils/tax-calculator/federal.ts
Owners: @tax-experts, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/tax-calculator/optimization.ts
  src/backend/src/utils/tax-calculator/optimization.ts
Owners: @tax-experts, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/tax-calculator/roth-conversion.ts
  src/backend/src/utils/tax-calculator/roth-conversion.ts
Owners: @tax-experts, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/tax-calculator/state.ts
  src/backend/src/utils/tax-calculator/state.ts
Owners: @tax-experts, @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/validators/calculation.validator.ts
  src/backend/src/utils/validators/calculation.validator.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/validators/scenario.validator.ts
  src/backend/src/utils/validators/scenario.validator.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/src/utils/validators/user.validator.ts
  src/backend/src/utils/validators/user.validator.ts
Owners: @backend-team
