Repository bwolfson978/low-income-year-tax-optimizer-8n1e1h, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @tax-experts, @security-team, @devops-team, @database-team, @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tests/integration/api/auth.test.ts
  src/backend/tests/integration/api/auth.test.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tests/integration/api/calculation.test.ts
  src/backend/tests/integration/api/calculation.test.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tests/integration/api/scenario.test.ts
  src/backend/tests/integration/api/scenario.test.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tests/unit/services/calculation.service.test.ts
  src/backend/tests/unit/services/calculation.service.test.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tests/unit/services/scenario.service.test.ts
  src/backend/tests/unit/services/scenario.service.test.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/backend/tests/unit/utils/tax-calculator.test.ts
  src/backend/tests/unit/utils/tax-calculator.test.ts
Owners: @backend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/README.md
  src/web/README.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/next.config.ts
  src/web/next.config.ts
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/postcss.config.ts
  src/web/postcss.config.ts
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/public/logo.svg
  src/web/public/logo.svg
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/public/sitemap.xml
  src/web/public/sitemap.xml
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/middleware.ts
  src/web/src/middleware.ts
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/error.tsx
  src/web/src/app/error.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/layout.tsx
  src/web/src/app/layout.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/loading.tsx
  src/web/src/app/loading.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/not-found.tsx
  src/web/src/app/not-found.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/page.tsx
  src/web/src/app/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/auth/login/page.tsx
  src/web/src/app/auth/login/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/auth/reset-password/page.tsx
  src/web/src/app/auth/reset-password/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/auth/signup/page.tsx
  src/web/src/app/auth/signup/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/auth/verify/page.tsx
  src/web/src/app/auth/verify/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/layout.tsx
  src/web/src/app/dashboard/layout.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/loading.tsx
  src/web/src/app/dashboard/loading.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/page.tsx
  src/web/src/app/dashboard/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/profile/page.tsx
  src/web/src/app/dashboard/profile/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/scenarios/page.tsx
  src/web/src/app/dashboard/scenarios/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/scenarios/[id]/page.tsx
  src/web/src/app/dashboard/scenarios/[id]/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/scenarios/new/page.tsx
  src/web/src/app/dashboard/scenarios/new/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/app/dashboard/settings/page.tsx
  src/web/src/app/dashboard/settings/page.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/src/web/src/components/auth/ResetPasswordForm.tsx
  src/web/src/components/auth/ResetPasswordForm.tsx
Owners: @frontend-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend service ownership
/src/backend/**                      @backend-team

# Web application ownership
/src/web/**                          @frontend-team

# Tax calculation logic requires tax expert review
/src/backend/src/utils/tax-calculator/**    @tax-experts @backend-team

# Security utilities require security team review
/src/backend/src/utils/security/**          @security-team @backend-team

# Infrastructure configuration ownership
/infrastructure/**                   @devops-team

# CI/CD workflow ownership
/.github/workflows/**                @devops-team

# Database schema changes require database team review
/src/backend/prisma/**              @database-team @backend-team

# Documentation ownership
*.md                                @docs-team
