Repository bwolfson978/low-income-year-tax-optimizer-8n1e1h, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @tax-experts, @security-team, @devops-team, @database-team, @docs-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend service ownership
/src/backend/**                      @backend-team

# Web application ownership
/src/web/**                          @frontend-team

# Tax calculation logic requires tax expert review
/src/backend/src/utils/tax-calculator/**    @tax-experts @backend-team

# Security utilities require security team review
/src/backend/src/utils/security/**          @security-team @backend-team

# Infrastructure configuration ownership
/infrastructure/**                   @devops-team

# CI/CD workflow ownership
/.github/workflows/**                @devops-team

# Database schema changes require database team review
/src/backend/prisma/**              @database-team @backend-team

# Documentation ownership
*.md                                @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/docker/monitoring/prometheus.yml
  infrastructure/docker/monitoring/prometheus.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/docker/monitoring/alertmanager/config.yml
  infrastructure/docker/monitoring/alertmanager/config.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/docker/monitoring/grafana-provisioning/dashboards/dashboard.json
  infrastructure/docker/monitoring/grafana-provisioning/dashboards/dashboard.json
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/docker/monitoring/grafana-provisioning/datasources/datasource.yml
  infrastructure/docker/monitoring/grafana-provisioning/datasources/datasource.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/production/backend-deployment.yml
  infrastructure/kubernetes/production/backend-deployment.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/production/backend-service.yml
  infrastructure/kubernetes/production/backend-service.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/production/ingress.yml
  infrastructure/kubernetes/production/ingress.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/production/web-deployment.yml
  infrastructure/kubernetes/production/web-deployment.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/production/web-service.yml
  infrastructure/kubernetes/production/web-service.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/staging/backend-deployment.yml
  infrastructure/kubernetes/staging/backend-deployment.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/staging/backend-service.yml
  infrastructure/kubernetes/staging/backend-service.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/staging/ingress.yml
  infrastructure/kubernetes/staging/ingress.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/staging/web-deployment.yml
  infrastructure/kubernetes/staging/web-deployment.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/kubernetes/staging/web-service.yml
  infrastructure/kubernetes/staging/web-service.yml
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/scripts/backup-database.sh
  infrastructure/scripts/backup-database.sh
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/scripts/restore-database.sh
  infrastructure/scripts/restore-database.sh
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/scripts/rotate-secrets.sh
  infrastructure/scripts/rotate-secrets.sh
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team

Add public-samples/low-income-year-tax-optimizer-8n1e1h/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team
